#container{
    width: 100%;
    #intro{
        display: flex;
        width: 100%;
        #likes{
            width: 10%;
            display: flex;
            flex-direction: column;
        }
        #title{
            width: 90%;
            text-align: center;
            font-size: 3rem;
            color: #183a1d;
        }
    }
    #table-of-content{
        ul{
            list-style: none;
        }
    }
}
    
