body{
    background-image: url('../images/loginPage.jpg');
    background-size: cover;
    main{
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
    }
}

#main{
    // background-image: url('../images/main.jpg');
    // background-size: cover;
    background-color: aliceblue;
    height: 350px;
    width: 500px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(107, 107, 107);
}
.borders{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    margin: 10px;
}
main #submit{
    background-color: rgb(53, 144, 228);
    height: 30px;
    width: 100px;
    border: 2px solid rgb(53, 144, 228);
    border-radius: 3%;
    color: aliceblue;
    margin: 20px 0px;
}
main #submit:hover{
    background-color: whitesmoke;
    color: rgb(53, 144, 228);
}