<link rel="stylesheet" href="/css/_chat_box.css">

<% if(locals.user) {%>

    <div id="user-chat-box">

        <ul id="chat-messages-list">

            <li class="other-message">
                <span>Other Messages</span>
            </li>

            <li class="self-message">
                <span>Self Messaages</span>
            </li>

        </ul>

        <div id="chat-message-input-container">

            <input type="text" placeholder="Type message here" id="chat-message-input">
            <button id="send-message">Send</button>

        </div>
    </div>

<% } %>