<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/data.css">
    </head>
    <body>
        <form action="/users/dataPost" method="post">
            <label for="#name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter the Name">
            <br>
            <label for="#email">E-Mail</label>
            <input type="text" name="email" id="email" placeholder="abc@example.com">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>