<link rel="stylesheet" href="/css/getEmail.css">

<main>
    <form action="/users/createToken" method="post">
            <label for="email">Please Enter your E-mail ID: </label> <br>
            <input type="text" name="email" id="email" placeholder="abc@example.com" class="borders">
            <input type='submit' value="Submit">
    </form>
</main>