<html>
    <head>
        <title>
            D-Tox
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <main>

            <h1>Welcome to D-Tox</h1>

        </main>
        
    </body>
</html>