<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Got here bro!!</h1>
        <h3>First Name: <%= user.fname %></h3>
        <h3>Last Name: <%= user.lname %></h3>
        <h3>E-Mail: <%= user.email %></h3>
    </body>
</html>