<html>
    <head>
        <title>D-Tox | Profile</title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <main>
            <h1>Profile Section</h1>
            <p>First name: <%= user.fname %></p>
            <p>Last Name: <%= user.lname %></p>
            <p>E-Mail: <%= user.email %></p>
        </main>
    </body>
</html>