<link rel="stylesheet" type="text/css" href="\css\reset_password.css">

<main>
    <form action="/resetPassword/reset/<%=token%>" method="post">
        
        <div id="password">
            <label for="pass">Password: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
            <input type="password" id="pass" name="password" class="borders" placeholder="Create new Password">
        </div>
        <div id="re-pass">
            <label for="re-pass">Re-enter Passowrd:&nbsp;</label>
            <input type="password" name="repass" id="repass" placeholder="Confirm Password" class="borders">
        </div>
        <input type="submit" value="Change Password" class="borders" id="submit">
        
    </form>
</main>