<div id="about">
    <p style="color: #183a1d; font-weight: bold; font-size: 1.2rem;">Author: Dharmesh R. Kota</p>
    <p style="color: #183a1d; font-weight: bold; font-size: 1.2rem;">About Author:</p>
    <p>I am Dharmesh Kota, currently pursuing my B.Tech in 
        Mathematics and Computing <br>from Dhirubhai Ambani Institute 
        of Information and Communication Technology, 
        Gandhinagar
    </p>
    <p>This is my Blog page where I have talked about various 
        course projects that I had worked up <br> during my B.Tech journey.
    </p>
    <p>
        Hope You guys find it helpful.
    </p>
    <p>
        Do Register now, if you haven't:  <br>
        <div id="box">
            <a href="/users/sign-up">Register</a>
        </div>
    </p>
</div>
<div id="contact">
    <p style="color: #183a1d; font-weight: bold; font-size: 1.2rem;">Contact </p>
    <p>If you have any query or suggestions regarding 
        any of the project, you can mail it to me using your
        registered E-mail ID by submitting your query below:
    </p>
    
    <form action="/mailer/query" method="post">
        <textarea name="query" id="query" cols="50" rows="4" placeholder="Type here..."></textarea><br>
        <button type="submit">Send</button>
    </form>

</div>