<link rel="stylesheet" type="text/css" href="\css\blogs_home.css">

<div id="blogs">

    <!-- Zeller's Congruence -->
    <div class="card">
        <div class="image">
            <img src="/images/zeller.jpg" alt="Zeller's Congruence" height="100%" width="100%">
        </div>
        <div class="content">
            
            <p id="title"><a href="/blogs/zeller_congruence">Zeller's Congruence: Predict the Day of the Week
                on any given Date from Gregorian Calender </a>
            </p>

            <p>
                In the very first semester of my B. Tech journey, I worked
                on this project under the guidance of Prof. Sunitha Murugan (Ph.D. IIT Madras).
                The project deals with the Zeller's Congruence which gives us
                Day of the Week for any given date from the Gregorian Calender.
                Also I had discussed the cases with many other calenders other than the Zeller's Calender.
            </p>

            <p>
                Visit this blog if you find it Interesting!!
            </p>

        </div>
    </div>

    <!-- Traffic Flow Optimization Model -->
    <div class="card">
        <div class="image">
            <img src="/images/traffic_flow.jpg" alt="Zeller's Congruence" height="100%" width="100%">
        </div>
        <div class="content">
            
            <p id="title"><a href="/blogs/traffic_flow">Modeling the Traffic Flow at a Busy Junction </a>
            </p>

            <p>
                In the second semester, we were asked to prepare a
                project that shows the real-life application of Functions of Single Variables 
                and Ordinarily Differential Equations. In this model, under the guidance of 
                Prof. Madhukant Sharma (Ph.D. IIT Kanpur), we modelled
                the traffic flow at a busy junction using system of Linear Differential
                Equations and tried to optimize them and solve them using Simpson's Rule.
                The data for the traffic flow has been taken from trusted sources.
            </p>

            <p>
                Do give a visit if you have interest in Differential Equations!!
            </p>

        </div>
    </div>
</div>

<footer>
    <%- include('./_footer.ejs') %>
</footer>