<link rel="stylesheet" type="text/css" href="\css\home.css">
<div id="welcome">
    <div>
        Welcome to the World filled with <span style="color: #ffffff">Enthusiasm</span>
    </div>
    <div id="explore">
        Explore the content never <span style="color: #ffffff">seen</span> before
    </div>
    <div id="link">
        <a href="/blogs">Enter the World</a>
    </div>
</div>

<footer>
    <%- include('./_footer.ejs') %>
</footer>