<div>
    <p>From: <%= user.name%></p>
    <br><br>
    <p>The given below query has been submitted by the user on D's BLOG page</p>
    <p><%= query_mail%></p>
    <br><br>
    <p>Thanks!!</p>
</div>