header {
  position: relative;
  width: 99vw;
  height: 50px; }
  header div {
    display: inline-block; }
  header #dTox {
    color: #efff00;
    font-size: 40px;
    position: absolute;
    left: 0%;
    margin-left: 10px; }
  header #logs {
    position: absolute;
    right: 0%;
    bottom: 0%; }
    header #logs a {
      text-decoration: none;
      color: #efff00;
      font-size: 25px;
      margin-left: 20px; }
